/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(css/animate.min.css);
@import url(css/normalize.css);
@import url(css/icomoon.css);
@import url(css/font-awesome.min.css);
@import url(css/meanmenu.css);
@import url(css/owl.carousel.min.css);
@import url(css/swiper.min.css);
@import url(css/slick.css);
@import url(css/jquery.fancybox.min.css);
@import url(css/jquery-ui.css);
@import url(css/nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     background-color: #fff !important;
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

a:hover {
     color: #435334;
}

.buy-btn {
     color: white;
     background-color: #435334;
     border-color: #435334;
     border-radius: 0px !important;
     font-size: 0.7rem;
}

.buy-btn:hover {
     color: white;
     background-color: #F0A500;
     border-color: #F0A500;
     border-radius: 0px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     /* padding: 0 0 10px 0; */
     font-weight: normal;
     line-height: normal;
     color: #fff;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 18px;
}

h3 {
     font-size: 16px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none !important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

:focus {
     outline: 0;
}

.btn-primary:hover {
     background-color: #435334 !important;
     border-color: #435334 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #435334 !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- header area --*/

.header {
     width: 100%;
     background: #fff;
}

@media (max-width: 768px) {
     .header {
          width: 100%;
          background: #325c19;
     }
}

@media (max-width: 768px) {
     .header-title-text {
          color: white !important;
     }
}

.header_top {
     background-color: #ecf3fc;
     padding: 10px 0;
}

ul.conta_icon li a img {
     padding-right: 7px;
}

ul.social_icon {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

ul.social_icon li {
     height: 30px;
     color: #fff;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding-right: 5px;
}

ul.social_icon li:last-child {
     padding-right: 0px;
}

ul.social_icon li a {
     color: #fff;
     width: 30px;
     height: 30px;
     background-color: #183661;
     float: left;
     text-align: center;
     line-height: 31px;
     border-radius: 100%;
     font-size: 17px;
}

ul.social_icon li a:hover {
     background: #f2c119;
     color: #fff;
}

.select-box {
     cursor: pointer;
     position: relative;
     width: 90px;
}

.select,
.label {
     color: #677691;
     display: block;
     font-size: 12px;
}

.select {
     width: 100%;
     position: absolute;
     top: 0;
     padding: 5px 0;
     opacity: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     background: none transparent;
     border: 0 none;
}

.select-box1 {
     background: #ecf3fc;
     border: #677691 solid 1px;
     border-radius: 30px;
}

.label {
     position: relative;
     padding: 0px 23px 0px 9px;
     cursor: pointer;
     margin-bottom: 0;
}

.open .label::after {
     content: "▲";
}

.label::after {
     content: "▼";
     font-size: 12px;
     position: absolute;
     right: -18px;
     top: 0;
     padding: 0px 24px;
}

.se_fonr1 {
     justify-content: flex-end;
     display: flex;
     flex-wrap: wrap;
}

.time_o {
     padding-left: 15px;
     color: #0d1015;
     font-size: 14px;
}

.header_midil {
     padding: 10px 0;
     background-color: #435334;
}

@media screen and (max-width: 768px) {
     .header_midil {
          padding: 25px 0;
          /* background-color: #1A1C20; */
     }
}


.logo {
     text-align: center;
     display: block;
}

ul.conta_icon li a i {
     padding-right: 5px;
}

ul.conta_icon li a {
     color: white;
     font-size: 13px;
}

ul.conta_icon li a:hover {
     color: white;
     text-decoration: underline !important;
}

ul.right_icon {
     display: flex;
     justify-content: flex-end;
     flex-wrap: wrap;
}

ul.right_icon li img {
     margin-right: 30px;
}

.order {
     padding-top: 2px;
     float: right;
     max-width: 120px;
     font-size: 14px !important;
     color: #fff !important;
     height: 28px;
     width: 100%;
     background-color: #183661;
     display: block;
     text-align: center;
     border-radius: 40px;
}

.order:hover {
     background-color: #f2c119;
}


/*--   navigation--*/

.header_bottom {
     background-color: #FAF1E4;
}

.navigation.navbar {
     float: left;
     padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 14px 24px;
     color: black;
     font-size: 13px;
     line-height: 20px;
     font-weight: 400;
     text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     background-color: #9EB384;
     color: black;

}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     background-color: #9EB384;
     color: black;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.search {
     padding: 24px 0;
     text-align: right;
}

.form_sea {
     border-radius: 20px;
     border: #fff solid 1px;
     padding: 0px 15px;
     color: #000;
     height: 32px;
     position: relative;
     width: 100%;
}

.seach_icon {
     position: absolute;
     margin-left: -25px;
     z-index: 999;
     background: transparent;
     padding: 3px 0px 0px 0px;
     color: #b7b7b7;
}

.pre-title {
     color: black;
     font-size: 17px;
     font-weight: 500;
     
}

.post-title {
     color: black;
     font-size: 18px;
     margin-top: 5px;
     font-weight: 500;
}

@media screen and (max-width: 768px) {
     .pre-title {
          color: black;
          font-size: 14px;
          font-weight: 500;
     }

     .post-title {
          color: black;
          font-size: 14px;
          margin-top: 5px;
          font-weight: 500;
     }
}

/*-- marker-end sidebar  navigation--*/


/** banner section **/

.banner_main {
     background: url(../images/banner-try-1.jpg);
     padding: 50px 0px 0px 0px;
     background-size: cover;
     background-repeat: no-repeat;
     height: 400px;
     width: 100% !important;
}

@media (max-width: 768px) {
     .banner_main {
          background: url(../images/banner-mobile.jpg);
          /* min-height: auto; */
          /* Menghapus min-height di mode mobile */
          /* padding: 40px 0px 0px 0px; */
          background-size: cover;
     }
}

.blodark {
     color: white !important;
     font-family: 'Poppins';
     font-weight: 600;
     font-size: 60px;
     text-shadow:
3px -1px 0 black,  /* Shadow atas-kiri (hitam) */
    1px -1px 0 black,   /* Shadow atas-kanan (hitam) */
    -1px 1px 0 black,   /* Shadow bawah-kiri (hitam) */
    1px 1px 0 black;    /* Shadow bawah-kanan (hitam) */
}

.text-bg {
     text-align: left;
     margin-top: 88px;
}

.ban_img {
     margin-right: -45px;
     position: absolute;
}

.text-bg h1 {
     color: #f2c119;
     font-size: 116px;
     line-height: 80px;
     /* padding-bottom: 50px; */
     font-weight: 400;
}

.text-bg p {
     color: #2a2a2c;
     line-height: 30px;
     font-size: 33px;
     margin-bottom: 50px;
}

.text-bg .read_more {
     margin-top: 18px;
     font-weight: 300;
     background: #435334;
     color: white !important;
}

@media screen and (max-width: 768px) {
     .text-bg .read_more {
          margin-top: 18px;
          font-weight: 300;
          background: #435334;
          color: white !important;
          font-size: 11px;
     }
}

.text-bg .read_more:hover {
     background: #F4F4F4;
     color: black !important;
}

.ban_img figure {
     margin: 0;
}

.ban_img figure img {
     width: 100%;
}


/** end banner section **/
.titlepage h3 {
     font-size: 27px;
     border-bottom: #435334 solid 2px;
     line-height: 40px;
     color: black;
     font-weight: 600;
     padding-bottom: 9px;
}

@media screen and (max-width : 768px) {
     .titlepage h3 {
          font-size: 22px;
          border-bottom: #435334 solid 2px;
          line-height: 40px;
          color: black;
          font-weight: 600;
          padding-bottom: 3px;
     }
}

.titlepage h2 {
     font-size: 35px;
     color: #141414;
     line-height: 40px;
     font-weight: bold;
     padding: 0;
}

.titlepage h2 img {
     padding-right: 10px;
}

.news_text_promo {
     color: black;
     /* margin-left: -20px; */
}

.news_text_promo h4 {
     font-size: 17px;
     color: black;
     font-weight: 600;
}

.news_text_promo p {
     color: #141414;
     font-size: 12px;
     line-height: 32px;
     font-weight: 400;
     padding-top: 5px;
}

.news_img {
     display: flex;
     width: 250px;
     height: 150px;
     overflow: hidden;
     align-items: center;
     justify-content: center;
     margin-left: 30px;
}

.news_text h4 {
     font-size: 22px;
     color: black;
     font-weight: 600;
}

.news_text p {
     color: #141414;
     font-size: 13px;
     line-height: 27px;
     font-weight: 400;
     padding-top: 9px;
}

.kode_voucher {
     color: black;
     border-bottom: 2px solid #435334;
     font-weight: 600;
}

.each-promo {
     margin-top: 15px;
}

.news_text {
     padding-left: 10px;
     padding-right: 10px;
}

@media screen and (max-width: 768px) {
     .news_img {
          display: flex;
          width: 250px;
          height: 150px;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          margin-left: 15px;
          flex-wrap: nowrap;
     }

     .news_text {
          padding-left: 10px;
          padding-right: 10px;
     }

     .news_text_marmut_detail {
          padding-left: 0px;
          padding-right: 0px;
     }

     .news_text h4 {
          font-size: 22px;
          color: black;
          font-weight: 600;
     }

     .news_text p {
          color: black;
          font-size: 12px;
          line-height: 25px;
          font-weight: 400;
          padding-top: 0px;
          margin-top: 10px;
     }

     .news_text_promo {
          margin-top: 10px;
          margin-left: 10px;
          margin-bottom: 20px;
     }

     .news_text_promo h4 {
          font-size: 17px;
          color: black;
          font-weight: 600;
     }

     .news_text_promo p {
          color: #141414;
          font-size: 14px;
          line-height: 32px;
          font-weight: 400;
          padding-top: 0px;
          margin-bottom: 5px;
     }

     .kode_voucher {
          color: black;
          border-bottom: 2px solid #F0A500;
     }


}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 12px;
     background-color: #fff;
     color: #000;
     padding: 8px 0px;
     width: 100%;
     max-width: 142px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     text-transform: uppercase;
}

@media screen and (max-width: 768px) {
     .read_more {
          font-size: 12px;
          background-color: #fff;
          color: #000;
          padding: 8px 0px;
          width: 100%;
          max-width: 110px;
          text-align: center;
          display: inline-block;
          transition: ease-in all 0.5s;
          text-transform: uppercase;
     }
}

.read_more:hover {
     background: #03cafc;
     color: #fff !important;
     transition: ease-in all 0.5s;
}


/** six_box section **/

.six_box {
     background: url(../images/service_bg.jpg);
     background-size: 100% 100%;
     background-repeat: no-repeat;
}

.bluedark_bg {
     background: #435334;
     /* border-bottom: 1px solid black; */
}

.yellow_bg {
     background: #435334;
     /* border-bottom: 1px solid black; */
}

.six_box .six_probpx {
     text-align: center;
     padding: 10px 10px;
}

@media screen and (max-width: 768px) {
     .six_box .six_probpx {
          text-align: center;
          padding: 7px 5px;
     }
}

.six_box .six_probpx i {
     display: block;
}

.pa_left {
     padding-left: 0;
     padding-right: 0;
}

.six_box .six_probpx span {
     color: white;
     font-size: 13px;
     font-weight: 300;
}


/** end six_box section **/


/** project section **/

.project {
     background: url(../images/product_bg.jpg);
     background-size: 100% 100%;
     background-repeat: no-repeat;

     /* padding: 50px 0 90px 0; */
}

@media screen and (max-width: 768px) {
     .project {
          background: url(../images/product_bg.jpg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          padding: 10px 0 0 0 !important;
          /* padding: 50px 0 90px 0; */
     }

     .project-detail {
          padding: 10px 20px 10px 20px !important;
     }

     .marmut_detail {
          padding: 0px !important;
     }
}

.project .titlepage {
     text-align: left;
     margin-top: 20px;
}

.project .titlepage h2 {
     /* margin-bottom: 40px; */
     padding-bottom: 10px;
     border-bottom: #435334 solid 3px;
}

.project .titlepage p {
     font-size: 17px;
     line-height: 30px;
     font-weight: 400;
     padding-top: 10px;
     color: #fff;
}

.product_main {
     display: flex;
     flex-wrap: nowrap;
     /* Menggunakan nowrap agar tidak dilakukan wrapping */
     justify-content: center;
     align-items: flex-start;
     /* Menjaga item tetap di bagian atas */
     object-fit: contain;
     height: 200px;
     width: 443px;
     padding-right: 0px !important;
}

.content-detailing {
     margin-left: 50px;
}

@media screen and (max-width:768px) {
     .product_main {
          margin-top: 10px;
          padding-left: 0px;
          display: flex;
          text-align: center;
          justify-content: center;
          /* Menjaga item tetap di bagian atas */
          object-fit: contain;
          height: 200px;
          width: 100%;
     }

     .content-detailing {
          margin-left: 0px;
     }
}



.project .project_box {
     text-align: center;
     max-width: 17.3%;
     margin: 0 15px 20px 15px;
}

.dark_white_bg {
     background: #f2f2f2;
     height: 257px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;

     overflow: hidden;
     /* Tambahkan ini */
}

.dark_white_bg img {
     max-width: 100%;
     /* Pastikan gambar tidak melebihi kontainer */
}

.marmut-card {
     margin-top: 5rem;
     background-color: #f0f0f0;
     /* Default margin */
}

.iklan-persegi {
     background-color: grey;
     padding: 20px;
     text-align: center;
     border: 1px solid #ccc;
     height: 0;
     padding-bottom: 100%;
     /* Menggunakan padding-bottom sebagai persentase untuk menghasilkan bentuk persegi */
     position: relative;
     overflow: hidden;
}

.iklan-persegi::before {
     content: "";
     display: block;
     padding-top: 100%;
     /* Sama dengan padding-bottom */
}


/* Media query untuk layar desktop dengan lebar minimal 992px */
@media (min-width: 992px) {
     .marmut-card {
          margin-top: 1rem;
          /* Margin pada layar desktop */
     }

     .marmut-row-2 {
          margin-top: 3rem;
          /* Margin pada layar desktop */
     }
}

/* Untuk ukuran layar dengan lebar maksimum 768px (perangkat mobile) */
@media (max-width: 768px) {
     .project_box {
          max-width: 100%;
          margin: 0 auto 20px;
     }

     .dark_white_bg img {
          max-width: 100%;
          height: auto;
     }
}

/* Untuk ukuran layar dengan lebar lebih dari 768px (desktop) */
@media (min-width: 769px) {
     .project_box {
          max-width: 17.3%;
          margin: 0 15px 20px 15px;
     }

     .dark_white_bg img {
          max-width: 100%;
          height: 250px;
          /* Sesuaikan tinggi gambar di desktop sesuai kebutuhan */
     }
}



.project .project_box h3 {
     color: #1c1c1b;
     font-size: 15px;
     line-height: 20px;
     padding: 22px 0px 0px 0px;
     text-align: left;
}

.project .read_more {
     margin-top: 15px !important;
     margin: 0 auto;
     display: block;
     text-transform: none;
     color: #fff;
     background: #435334;
     padding: 7px 0;
}

@media screen and (max-width: 768px) {
     .project .read_more {
          margin-top: 8px !important;
          margin: 0 auto;
          display: block;
          text-transform: none;
          color: #fff;
          background: #435334;
          padding: 7px 0;
     }
}

.project .read_more:hover {
     background-color: #9EB384;
     color: black;
}


/** end project section **/


/** fashion section **/

.fashion img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
     .fashion img {
          width: 100%;
          height: 100%;
          object-fit: contain;
     }
}


/** end fashion section **/


/** news section **/

.news {
     background-color: #fff;
     /* padding-top: 90px; */
}

.news .titlepage h2 {
     padding-bottom: 10px;
     border-bottom: #F0A500 solid 5px;
}

.margin_top40 {
     margin-top: 40px;
}

.news_img figure {
     margin: 0;
}

.news_img figure img {
     width: 100%;
}

.news_item {
     width: 100%;
}

.news_img_best {
     width: 170px;
     height: 120px;
     overflow: hidden;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: center;
     border-top-right-radius: 6px;
     border-top-left-radius: 6px;
}

.news_img_best img {
     max-width: 100%;
     max-height: 100%;
     object-fit: cover;
     text-align: center;
     justify-content: center;
     /* Gambar tidak terpotong dan menyesuaikan elemen */
}

.news_img_kategori {
     width: 60px;
     height: 73px;
     overflow: hidden;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: center;
}

.news_img_kategori img {
     max-width: 100%;
     max-height: 100%;
     object-fit: contain;
     /* Gambar tidak terpotong dan menyesuaikan elemen */
}


@media screen and (max-width: 768px) {
     .news_img_best {
          width: 150px;
          height: 95px;
          overflow: hidden;
          margin: 0 auto;
          /* Center horizontally */
          display: flex;
          align-items: center;
          justify-content: center;
     }

     .news_img_best_category {
          width: 170px !important;
     }
}

.title-marmut {
     font-size: 0.8rem;
     text-align: left;
     min-height: 16px;
     font-weight: 450;
     line-height: 1.5;
     white-space: normal;
     /* Izinkan pemecahan baris */
     text-overflow: ellipsis;
     overflow: hidden;
     max-width: 100%;
     margin-top: 10px;
}

.title-marmut img {
     width: 20px;
     height: 20px;
}

.title-kategori {
     font-size: 1rem;
     font-weight: 600;
     text-align: center;
     min-height: 16px;
     line-height: 1.5;
     white-space: normal;
     /* Izinkan pemecahan baris */
     text-overflow: ellipsis;
     overflow: hidden;
     max-width: 100%;
}


.news_img_detail {
     width: 300px;
     height: 340px;
     overflow: hidden;
     margin-bottom: 10px;
     /* Sesuaikan margin jika perlu */
     /* display: flex; */
     align-items: center;
     justify-content: center;
}

.news_img_detail img {
     max-width: 100%;
     max-height: 100%;
     /* object-fit: contain; Mempertahankan aspek rasio dan mengisi bingkai jika memungkinkan */
}

.news_text h3 {
     color: #141414;
     font-size: 24px;
     /* font-weight: bold; */
}

.news_text span {
     /* border-bottom: #435334 solid 1px; */
     /* padding-bottom: 4px; */
     color: #141414;
     font-size: 15px;
}

.price {
     color: #141414;
     font-size: 1rem;
     text-align: left;
     font-weight: 600;
}

@media screen and (max-width: 768px) {
     .price {
          color: #141414;
          font-size: 1.15rem;
          text-align: left;
          font-weight: 600;
     }
}

.categories {
     font-size: 0.7rem;
     text-align: left;
     color: 435334;
}

.categories img {
     width: 13px;
     height: 13px;
}

.date_like {
     float: right;
}

.pad_le {
     padding-left: 15px;
}




/** end news section **/


/** newslatter section **/

.newslatter {
     background-color: #fff;
     padding: 90px 0;
}

.neslatter {
     color: #141414;
     font-size: 30px;
     line-height: 32px;
     text-align: left;
     padding-bottom: 0;
     font-weight: bold;
}

.news_form {
     text-align: right;
}

.news_form .letter_form {
     height: 54px;
     width: 100%;
     padding: 0 15px;
     font-size: 17px;
     border-radius: 32px;
     border: #a8a8a8 solid 1px;
}

.news_form .sumbit {
     padding: 5px 42px;
     margin-left: -180px !important;
     font-size: 17px;
     background: #183661;
     color: #fff;
     border-radius: 30px;
     z-index: 9999;
}

.news_form .sumbit:hover {
     background-color: #f2c119;
}


/** end newslatter section **/

.three_box {
     margin-bottom: -80px;
}

.gift_box {
     background-color: #fff;
     box-shadow: 0px 0px 16px rgba(13, 3, 3, 7%);
     text-align: center;
     padding: 40px 1px;
     border-radius: 20px;
}

.gift_box i {
     display: block;
}

.gift_box span {
     color: #183661;
     font-size: 17px;
     padding-top: 5px;
     display: block;
}


/** three_box section **/


/** end three_box section **/


/** footer **/

.footer {
     background: #435334;
     padding-top: 50px;
     /* padding-bottom: 60px; */
     text-align: center;
}

.footer h3 {
     color: #fff;
     font-size: 17px;
     line-height: 20px;
     text-transform: uppercase;
     text-align: left;
     padding-bottom: 20px;
     font-weight: 600;
}

.footer p {
     color: #fff;
     font-size: 13px;
     line-height: 32px;
     text-align: left;
     padding-right: 31px;
     font-weight: 400;
     /* display: inline-block; */
}

@media screen and (max-width: 768px) {
     .footer p {
          color: #fff;
          font-size: 13px;
          line-height: 32px;
          text-align: left;
          padding-right: 0px;
          font-weight: 400;
     }
}

.footer-link {
     margin-bottom: 10px;
     text-align: left;
     font-size: 17px;
     margin-top: 5px;
}



.footer-item {
     margin-bottom: 5px;
}

.footer-item a {
     color: #F4F4F4;
}

.account-user {
     font-size: 13px;
}

.footer-item a:hover {
     cursor: pointer;
     color: #CF7500;
}

.footer-icon {
     margin-right: 10px;
}

.copyright {
     margin-top: 50px;
     padding-bottom: 20px;
     background: #fbfdfd;
}

.copyright p {
     color: #292929;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     padding-top: 20px;
     font-weight: normal;
     padding-right: 0 !important;
}

.copyright a {
     color: #292929;
     font-size: 12px;
}

.copyright a:hover {
     color: #CF7500;
}


/** end footer **/


/** inner page css **/

.footer_to90 .footer {
     padding-top: 90px;
}

.blue_bg {
     background-color: #f3a20d;
     padding: 35px 0;
}

.blue_bg .titlepage {
     text-align: center;
}


/** about page **/

.about_page .blue_bg .titlepage h2 {
     color: #fff;
}

.about {
     background-color: #fff;
     padding: 60px 0 50px 0;
}

.about_text h3 {
     font-size: 30px;
     margin-top: 20px;
     line-height: 30px;
     font-weight: 600;
     color: #183661;
     padding: 0;
}

.about_text p {
     color: #000;
     font-size: 17px;
     line-height: 30px;
     padding: 25px 0 40px 0;
}

.about_text .read_more {
     background: #183661;
     color: #fff;
     padding: 10px 0;
}

.about_text .read_more:hover {
     background: #f2c119;
}


/** about page **/

.project_page .blue_bg .titlepage h2 {
     color: #fff;
}

.news_page .blue_bg .titlepage h2 {
     color: #fff;
}

.news_page .news {
     padding: 50px 0 90px 0;
}

.fashion_page .blue_bg .titlepage h2 {
     color: #fff;
}

.fashion_page .fashion {
     margin: 90px 0;
}


/** contact page **/

.contact_page .blue_bg .titlepage h2 {
     color: #fff;
}

.contact_page .contact {
     margin-bottom: 90px;
}

.contact {
     margin-top: 90px;
     background: #fff;
}

.contact .titlepage {
     text-align: left;
     padding-bottom: 60px;
}

.contact .titlepage h2 {
     color: #fefeff;
}

.main_form .contactus {
     border: #183661 solid 1px;
     padding: 0 15px;
     margin-bottom: 20px;
     width: 100%;
     height: 46px;
     background: transparent;
     color: #183661;
     font-size: 17px;
     font-weight: normal;
     padding: 0 15px;
     box-shadow: 0 0 5px rgba(243, 195, 30, 0.5);
}

.main_form .contactusmess {
     border: #183661 solid 1px;
     padding: 0 15px;
     margin-bottom: 0;
     width: 100%;
     padding-top: 52px;
     padding-bottom: 52px;
     background: transparent;
     color: #183661;
     font-size: 17px;
     font-weight: normal;
     box-shadow: 0 0 5px rgba(243, 195, 30, 0.5);
}

.send_btn {
     background: #183661;
     font-weight: 500;
     font-size: 18px;
     width: 185px;
     color: #fff;
     height: 56px;
     margin-top: 50px;
     transition: ease-in all 0.5s;
     border-radius: 40px;
}

.send_btn:hover {
     background: #f2c119;
     transition: ease-in all 0.5s;
}

#request *::placeholder {
     color: #183661;
     opacity: 1;
}

.kategori-illus {}

.kategori-illus img {
     width: 50px;
     height: 40px;
}

@media screen and (max-width: 768px) {
     .kategori-illus img {
          width: 35px;
          height: 30px;
     }
}

.description-illus {
     margin-bottom: 10px;
}

.name-category {
     color: white;
     font-size: 12px;
}

.price-category {
     color: white;
     font-size: 12px;
}

@media screen and (max-width: 768px) {
     .kategori-illus {}

     .description-illus {
          margin-bottom: 2px;
     }

     .name-category {
          color: white;
          font-size: 11px;
     }

     .price-category {
          color: white;
          font-size: 11px;
     }
}

.fashion {
     height: 350px;
     margin-top: 60px;
}

@media screen and (max-width: 768px) {
     .fashion {
          height: 250px;
          margin-top: 0px;
     }
}

.news_img_promo {
     display: flex;
     width: 410px;
     height: 150px;
     overflow: hidden;
     align-items: center;
     justify-content: center;
}

@media screen and (max-width: 768px) {
     .news_img_promo {
          display: flex;
          width: 190px;
          height: 110px;
          overflow: hidden;
          margin-left: 10px;
     }
}

.news_img_promo img {
     width: 100%;
     /* height: 100%; */
     object-fit: cover;
}

.created_date {
     font-size: 12px;
}

.scroll-to-top {
     display: none;
     position: fixed;
     bottom: 20px;
     right: 20px;
     z-index: 99;
     cursor: pointer;
     padding: 10px;
     background-color: #333;
     color: #fff;
     border: none;
     border-radius: 50%;
}

.whatsapp {
     display: none;
     position: fixed;
     bottom: 10px;
     /* Mengatur jarak dari bawah ke 20px */
     left: 20px;
     /* Mengatur jarak dari kiri ke 20px */
     z-index: 99;
     cursor: pointer;
     padding: 10px;
     color: #fff;
     border: none;
     height: 70px;
     width: 70px;
}

.kategori {
     margin-top: 45px;
}

/* Media query untuk layar dengan lebar lebih dari 768px (desktop) */
@media screen and (max-width: 768px) {
     .kategori {
          padding-top: 0px;
     }

}

/** end contact section **/

/* Default padding untuk mobile */
.banner_main {
     margin-top: 15px;
}

/* Media query untuk layar dengan lebar lebih dari 768px (desktop) */
@media (max-width: 768px) {
     .banner_main {
          padding-top: 100px;
     }

}

.whatsapp {
     display: none;
     position: fixed;
     bottom: 10px;
     /* Mengatur jarak dari bawah ke 20px */
     left: 20px;
     /* Mengatur jarak dari kiri ke 20px */
     z-index: 99;
     cursor: pointer;
     padding: 10px;
     color: #fff;
     border: none;
     height: 70px;
     width: 70px;
}

.menu-container {
     width: 100%;
     /* overflow: hidden; */
}

.menu {
     width: 100%;
     margin-top: 10px;
     display: flex;
     /* overflow-x: scroll; */
     padding: 10px;
     gap: 10px;
     white-space: nowrap;
     object-fit: cover;
}

.menu-item {
     padding: 0px 0px;
     width: 173px;
     height: 100%;
     background-color: white;
     border: 2px solid rgb(229, 231, 233);
     border-radius: 10px;
     display: inline-block;
     text-decoration: none;
     color: #333;
     text-overflow: ellipsis;
}

.kategori-item {
     padding: 8px 10px;
     width: 173px;
     height: 120px;
     background-color: white;
     border: 2px solid rgb(229, 231, 233);
     border-radius: 10px;
     display: inline-block;
     text-decoration: none;
     color: #333;
     text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
     .title-kategori {
          font-size: 0.6rem;
          font-weight: 600;
          text-align: center;
          min-height: 16px;
          line-height: 1.5;
          white-space: normal;
          /* Izinkan pemecahan baris */
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 100%;
     }

     .kategori-item {
          padding: 8px 10px;
          width: 180px;
          height: 120px;
          background-color: white;
          border: 2px solid rgb(229, 231, 233);
          border-radius: 10px;
          display: inline-block;
          text-decoration: none;
          color: #333;
          text-overflow: ellipsis;
     }
}



@media screen and (max-width: 768px) {
     .menu-container {
          width: 100%;
          overflow: hidden;
     }

     .menu {
          margin-top: 10px;
          display: flex;
          overflow-x: scroll;
          padding: 10px;
          gap: 5px;
          white-space: nowrap;
     }

     .menu-item {
          padding: 0px 0px;
          width: 157px;
          height: 100%;
          background-color: white;
          border: 2px solid rgb(229, 231, 233);
          border-radius: 10px;
          display: inline-block;
          text-decoration: none;
          color: #333;
          text-overflow: ellipsis;
     }

     .menu-item:hover {
          background-color: #e0e0e0;
     }

     .menu-item-detail {
          width: 175px;
     }
}

.marmut-detail {
     margin-top: 100px;
}


/* Media query untuk layar dengan lebar lebih dari 768px (desktop) */
@media (max-width: 768px) {
     .marmut-detail {
          padding-top: 0px;
          margin-top:40px;
     }
}

.news {
     background-color: #fff;
     padding-top: 10px !important;
}

@media screen and (max-width: 768px) {
     .news {
          background-color: #fff;
          padding-top: 0px !important;
     }
}

.marmut_detail {
     padding: 20px 20px;
}

.originalPrice {
     margin-top: 15px;
     font-size: 2rem;
}

.card-title {
     color: black !important;
     font-weight: 500;
     text-decoration: underline;
     font-size: 1.28571rem;
}

.marmut-type {
     color: black;
     font-weight: 500;
}

.marmut-detail-img {
     height: 100%;
}

.product_main img {
     width: 100%;
     height: 200px !important;
     object-fit: contain !important;
}

.whatsapp {
     display: none;
     position: fixed;
     bottom: 10px;
     /* Mengatur jarak dari bawah ke 20px */
     left: 20px;
     /* Mengatur jarak dari kiri ke 20px */
     z-index: 99;
     cursor: pointer;
     padding: 10px;
     color: #fff;
     border: none;
     height: 70px;
     width: 70px;
}

.ongkir {
     margin-top: 100px;
}

/* Media query untuk layar dengan lebar lebih dari 768px (desktop) */
@media (max-width: 768px) {
     .originalPrice {
          margin-top: 0px;
          font-size: 1.4rem;
          margin-top: 4px;
     }

     .ongkir {
          padding-top: 0px;
          margin-top: 40px;
     }
}

.label-ongkir {
     color: black !important;
     font-size: 13px;
}

.form-ongkir {
     padding-right: 30px;
     padding-left: 30px;
}

@media screen and (max-width: 768px){
     .form-ongkir {
          padding-right: 25px;
          padding-left: 10px;
          margin-left: 0px;
          margin-top: 0px;
     }

     .form-column{
          padding-right: 0px;
          padding-left: 0px;
     }
}

.exception {
     margin: 0px;
     font-size: 12px;
     line-height: 24px;
     color: black;
}

.exception a {
     color: blue;
}

.exception a:hover {
     color: black;
}

.paket {
     margin-top: 100px;
}


/* Media query untuk layar dengan lebar lebih dari 768px (desktop) */
@media (max-width: 768px) {
     .paket {
          padding-top: 0px;
          margin-top: 40px;
     }

     .container-paket{
          padding-right: 30px;
     }
}

.project-category {
     margin-top: 100px
}

@media screen and (max-width: 768px) {
     .project-category {
          margin-top: 40px
     }
}

.pagination {
     display: flex;
     justify-content: center;
     margin-top: 20px;
}

.pagination a {
     padding: 10px 15px;
     margin: 0 5px;
     text-decoration: none;
     color: black;
     background-color: #CEDEBD;
     transition: background-color 0.3s;
}

.pagination a.active {
     background-color: #435334;
     color: white;
}

.pagination a:hover {
     background-color: #435334;
     border-color: 435334;
     color: white;
}

.whatsapp {
     display: none;
     position: fixed;
     bottom: 10px;
     /* Mengatur jarak dari bawah ke 20px */
     left: 20px;
     /* Mengatur jarak dari kiri ke 20px */
     z-index: 99;
     cursor: pointer;
     padding: 10px;
     color: #fff;
     border: none;
     height: 70px;
     width: 70px;
}

.kategori_detail {
     margin-top: 100px;
}

/* Media query untuk layar dengan lebar lebih dari 768px (desktop) */
@media screen and (max-width: 768px) {

     .kategori_detail {
          padding-top: 0px;
     }

     .kategori_detail {
          margin-top: 40px;
     }
}

.card-buyer-information {
     width: 18rem;
}

@media screen and (max-width: 768px) {
     .card-buyer-information {
          width: 100%;
     }
}

.marmut-title {
     color: black !important;
     font-size: 1.28571rem;
     font-weight: 600;
}

.marmut-categories-detail-buy{
     margin-top: 5px;
     font-size: 1rem;
}

@media screen and (max-width: 768px){
     .marmut-title {
          font-size: 1rem;
     }
     
     .marmut-categories-detail-buy{
          font-size: 0.8rem;
          margin-top: 4px;
     }
}